.loan {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;

    background-color: rgba(white, .4);
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    padding-top: 30px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    
}



.loan-wrapper {

    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
    padding: 34px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    justify-self: center;
    align-self: center;

    display: grid;
    grid-template-rows: [s] 60px [icon-s] 60px [icon-e add-s] 60px [add-e option-s] 60px [options-e plus-s] 60px [plus-e small-s] 60px [small-e e];
    grid-template-columns: [s] 1fr [e];
    grid-row-gap: 18px;

    &__icon {
        grid-row: icon-s/icon-e;
        grid-column: s/e;
        justify-self: center;
        font-size: 100px;
        transform: translateY(-60px);

    }
    &__business {
        grid-row: add-s/add-e;
        grid-column: s/e;
        justify-self: center;
        font-size: 24px;
        
    }

    &__options {
        grid-row: option-s/option-e;
        grid-column: s/e;
        justify-self: center;
        font-size: 18px;
    }
    &__plus {
        grid-row: plus-s/plus-e;
        grid-column: s/e;
        justify-self: center;
        font-size: 36px;
        

    }
    &__small {
        grid-row: small-s/small-e;
        grid-column: s/e;
        justify-self: center;
        font-size: 18px;

    }

}

.loan-wrapper__plus:hover {
        transition: all .1s ease 0s;

        cursor: pointer;
        transform: translateY(-1px);
        color: #f4c842;
    }



