
html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Cardo', serif;
    color: darkred;
    background: url('http://bgfons.com/uploads/leaves/leaves_texture1205.jpg');
    
}

@import 'layout';
@import 'headernavbar';
@import 'page-title';
@import 'card';

@import 'loan';